<% include partials/header.ejs %>
    <div class="container">
    	<input id="hls_url" type="hidden" value="<%= hls_url %>">
        <div class="video_container">
            <div class="video-player">
                <a href="#">
                    <div id="player_1" class="contentElement"></div>
                </a>
            </div>
        </div>        
    </div>
</div>
</body>
</html>
